Frost Prediction/min_temperature.json
Frost Prediction/temp_and_frost_data.csv
Frost Prediction/temperature.csv
Frost Prediction/frost.json

Frost Prediction/model_0/temperature.csv
Frost Prediction/model_1/temperature.csv
Frost Prediction/model_1/temp_and_frost_data.csv

Frost Prediction/model_2/temperature.csv
Frost Prediction/model_2/temp_and_frost_data.csv

Temperature Prediction/Data Validation/data

exp

GIS/MGM Risk Indicator/Other/data/mgm-scrapper-main