Frost Prediction/min_temperature.json
Frost Prediction/temp_and_frost_data.csv
Frost Prediction/temperature.csv
Frost Prediction/frost.json

Frost Prediction/model_0/temperature.csv
Frost Prediction/model_1/temperature.csv
